*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#house{
    height: 600px;
    width: 100%;

    position: absolute;
}
#house .h_content {
    position: relative;
    width: 1200px;
    height: 250px;
    top: 20px;
    left: 30px;
}
#house .h_content .h_c_left{
    width: 340px;
    height: 250px;
    display: inline-block;
}
#house .h_content .h_c_right{
    display: inline-block;
    width: 850px;
    height: 250px;
}
